@font-face {
  font-family: "KrungthaiFast-Regular";
  src: url("https://soycoder.github.io/hip-map-project/assets/font/KrungthaiFast-Regular.ttf");
}
.hidden {
  display: none;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
div {
  font-family: "KrungthaiFast-Regular", sans-serif;
}
