@font-face {
  font-family: "KrungthaiFast-Regular";
  src: url("https://soycoder.github.io/hip-map-project/assets/font/KrungthaiFast-Regular.ttf");
}

div {
  font-family: "KrungthaiFast-Regular", sans-serif;
}
